.InputOptionsIcon{
   display: flex;
    align-items: center;
    margin-top: 15px;
    cursor: pointer;
    color:gray;
   
}
.InputOptionsIcon:hover{
    background-color: whitesmoke;
    border-radius: 10px;
}
.InputOptionsIcon > h4{
    margin-left: 5px;
}